APP_ENCRYPTION_KEY=请使用Fernet密钥
APP_SESSION_SECRET=请使用至少32位随机字符串
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=请设置强密码
APP_COOKIE_SECURE=true
DATA_DIR=/data
REFRESH_WORKERS=3
SCHEDULER_SECONDS=300
MAIL_SYNC_INTERVAL_SECONDS=300
MAIL_FETCH_MAX_BYTES=5242880
MAIL_ARCHIVE_MAX_MESSAGES=5000
IMAP_HOST=outlook.office365.com
IMAP_PORT=993
MICROSOFT_SCOPE=https://outlook.office.com/IMAP.AccessAsUser.All offline_access
PUBLIC_SHARE_ORIGIN=https://temporary.yeqiu.loc.cc
